.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(-primary-color-); 
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hamburger Lines*/
/*Targeting the immediate div*/
/* Creating the hamburger lines*/
/*This provides the Middle line in the hamburger*/
.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #f8ab3e;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* For the next two lines, we use pseudo selectors*/
/*This is for the first of the two lines*/
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* For the Last Line */
.menu-wrap .hamburger > div:after{
    top: 10px;
}

/* Since we are using a checkbox, it goes to say that
when we click, a state is checked*/
/*Togglers animation*/


.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/*Turning the lines into an X*/
.menu-wrap .toggler:checked + .hamburger > div:before, 
.menu-wrap .toggler:checked + .hamburger > div:after {
    top:0;
    transform: rotate(90deg);
}

/*Rotate on Hover when checked*/
.menu-wrap .toggler:hover + .hamburger > div{
    transform: rotate(225deg);
}

/* now Let's add the menu*/
/* The ~ sign is used for targeting what's inside the class*/
.menu-wrap .toggler:checked ~  .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~  .menu > div{
    /* Returning it to its original value*/
    transform: scale(1);
    transition-duration: var(--menu-speed); 

}

/*To see the links, because they are in the inner divs*/

.menu-wrap .toggler:checked ~  .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}


.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 100vw;
    height: 100vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease; 
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid;
    border-radius: 10px;
    background-color: black;

}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;

}